{% if pagination.nextPageHref or pagination.previousPageHref %}
  <nav class="pagination">
      {% if pagination.previousPageHref %}
        <a
          class="pagination__previous"
          href="{{ pagination.previousPageHref }}"
        >
          <span>Previous</span>
        </a>
      {% endif %}
      <span>
        Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}
      </span>
      {% if pagination.nextPageHref %}
        <a class="pagination__next" href="{{ pagination.nextPageHref }}">
          <span>Next</span>
        </a>
      {% endif %}
  </nav>
{% endif %}
