@use 'config' as *;
@use 'sass:color';

html {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  font-family: $font--body;
  overflow-x: hidden;
}

img,
svg {
  vertical-align: top;
}
