@use 'config' as *;
@use 'sass:math';

html {
  font-size: 18px;
  line-height: 1.6;
  color: var(--color--text);
}

@mixin heading-text() {
  font-family: $font--heading;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-text();
}

h1 {
  font-size: 2.5rem;
}

p,
ul,
ol,
legend {
  margin: $spacing--xxs 0;
}
