@use 'config' as *;
@use 'sass:math';

html {
  color: var(--color--text);
}

@mixin heading-text() {
  font-family: $font--heading;
  font-style: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-text();
}
