<!doctype html>
<html lang="en">
    {% include "components/navigation/head.njk" %}
	<body>
		<a href="#main" id="skip-link" class="skip-link">Skip to main content</a>
        {% include "components/navigation/header.njk" %}
		<main id="main">
			{{ content | safe }}
		</main>
		{% include "components/navigation/footer.njk" %}
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>