---
layout: layouts/base.njk
pagination:
  data: collections.posts
  size: 3
  alias: posts
  reverse: true
---

<div>
  <h1>{{ title }}</h1>
  {{ content | safe }}

  <ul>
    {% for item in pagination.items %}
      {% include "components/post-item.njk" %}
    {% endfor %}
  </ul>

  {% include "components/pagination.njk" %}
</div>
