<footer class="footer">
    <p class="footer__description">Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a> and hosted on <a href="https://www.netlify.com/">Netlify</a></p>

    <fieldset class="theme-switcher">
        <legend>Theme</legend>
        <div class="theme-switcher__options">
          <span class="theme-switcher__option">
            <input type="radio" id="theme-auto" name="theme" value="auto" checked><label for="theme-auto">Auto</label>
          </span>
          <span class="theme-switcher__option">
            <input type="radio" id="theme-light" name="theme" value="light"><label for="theme-light">Light</label>
          </span>
          <span class="theme-switcher__option">
            <input type="radio" id="theme-dark" name="theme" value="dark"><label for="theme-dark">Dark</label>
          </span>
        </div>
    </fieldset>
</footer>
