<footer class="footer">
  <div class="container">
    <p>
      <em
        >Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>
      </em>
    </p>

    <fieldset class="theme-switcher">
      <div class="theme-switcher__wrapper">
        <legend>Theme</legend>
        <div class="theme-switcher__options">
          <span class="theme-switcher__option">
            <input type="radio" id="theme-auto" name="theme" value="auto" checked><label for="theme-auto">Auto</label>
          </span>
          <span class="theme-switcher__option">
            <input type="radio" id="theme-light" name="theme" value="light"><label for="theme-light">Light</label>
          </span>
          <span class="theme-switcher__option">
            <input type="radio" id="theme-dark" name="theme" value="dark"><label for="theme-dark">Dark</label>
          </span>
        </div>
      </div>
    </fieldset>
  </div>
</footer>
