<header class="header">
    <h1 class="header__logo">
		<a href="{{ site.url }}">
			{{ site.title }}
		</a>
	</h1>

	<nav class="header__nav" aria-label="Main navigation">
		<ul class="header__nav-list">
		</ul>
	</nav>
</header>