@use 'sass:color';

// Colors
$color--white: #fff;
$color--black: #000;
$color--gray-light: #d3d3d3;
$color--gray: #606060;
$color--gray-dark: #222;

:root {
  --color--white: #{$color--white};
  --color--black: #{$color--black};
  --color--border: #{$color--gray-light};
  --color--text: #{$color--gray-dark};
  --color--text-accent: #{$color--gray-light};
  --color--invert-text: #{$color--white};
  --color--background: #{$color--white};
  --color--invert-background: #{$color--gray-dark};
}

@mixin dark-theme {
  --color--border: #{$color--gray};
  --color--text: #{$color--white};
  --color--text-accent: #{$color--gray};
  --color--invert-text: #{$color--gray-dark};
  --color--background: #{$color--gray-dark};
  --color--invert-background: #{$color--white};
}

[data-theme='dark'] {
  @include dark-theme;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    @include dark-theme;
  }
}

// Fonts
$font--heading: 'BenchNine', sans-serif;
$font--body:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, 'Helvetica Neue', sans-serif;

// Layout
$max-width: 650px;

// Spacing
$spacing--xxs: 5px;
$spacing--xs: 15px;
$spacing--s: 30px;
$spacing--m: 60px;
$spacing--l: 90px;
$spacing--xl: 120px;
$spacing--xxl: 150px;

// Breakpoints
$breakpoint--s: 600px;
$breakpoint--l: 1025px;
$breakpoint--xl: 1280px;
